
  
body::before{
  display: block;
  content: '';
  height:60px;
}
  

  @media (min-width: 768px) {
    body::before {
      content: "MD";
    }

    .news-input{
        width: 50%;
    
    }

  }
  
